<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>我欲登游<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain">
  <div class="art" id="contain1">
    <ul class="ul_goods">
      <li>
        <div class="kfsj">
          <h3>开放时间</h3>
          <p>早8点后即可进入景区，天黑前离开景区。</p>
        </div>
        <div class="jqpj">
          <h3>景区票价</h3>
          <p>景区联票成人门票 118元/张</p>
          <p>学生门票（含本科以下）65元/张</p>
          <p>周日至周四</p>
          <p>观看大型山水实景演出《天下·盘山》需补差价20元/张</p>
          <p>周五、周六及法定节假日需加收费用50元</p>
        </div>
      </li>
      <li>
        <div class="jqpj">
          <h3>盘山年卡</h3>
          <p>年卡仅支持蓟县居民办理</p>
          <p>年卡价格为成人100元/张，学生50元/张，</p>
          <p>蓟县居民持本人身份证原件或户口本原件</p>
          <p>可到盘山国际旅行社办理相关手续。</p>
          <p>联系电话：022-29198822</p>
          <p>地址：蓟县光明路19号七星花园底商</p>
        </div>
      </li>
      <li>
        <div style="clear:both"></div>
        <div class="lxdh">
          <h3>联系电话</h3>
          <p>景区咨询电话：022-29821824</p>
          <p>景区投诉电话：022-29821719</p>
          <p>景区救援电话：022-29821814</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<ul class="picNav">
  <li><a href="/ggms/index">缘起</a></li>
  <li><a href="/wzsj/index">胜境</a></li>
  <li><a href="/wtxj/index">问途</a></li>
  <li><a class="on" href="/wydy/index">登游</a></li>
</ul>
<script language=javascript>
  function findDimensions() {

    var tabcont=document.getElementById("contain");
    var tabcont1=document.getElementById("contain1");
    cheight=document.documentElement.clientHeight;

    tabcont1.style.height=cheight-140 + 'px';
    tabcont1.style.minHeight=cheight-140 + 'px';


  }
  window.onload= function(){findDimensions();}
  window.onresize= function(){findDimensions();}
  function  turnHome(){
    window.location.href="/"
  } 
</script>
