<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>北京方面游客<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain">
  <div class="art" id="contain1">
    <p style="padding-top:8px;"><span>推荐线路：</span>走机场高速路，在第六出口转行机场南线，沿京平高速直行，直达盘山景区停车场。</p>
    <p><%= image_tag 'map_1.png' %></p>
    <p><span>自驾车A线：</span>沿京哈公路经通州、三河，到蓟县邦均镇沿帮喜公路直行，津蓟高速出口环岛左转上蓟官路直达盘山景区。</p>
    <p><span>自驾车B线：</span>走京沈高速驶向沈阳方向，至高速公路宝坻北站下桥转至津蓟高速驶向蓟县方向，直达盘山景区高速出口停车场。</p>
    <p><span>自驾车C线：</span>从北京东三环出发，走京顺线、平顺线，前行到蓟县罗庄子乡王庄桥右行沿津围公路直行，蓟县西关红绿灯右转，津蓟高速出口环岛西北路口上蓟官路直达盘山景区。</p>
    <p><span>长途客运车：</span>从北京四惠长途客运站乘中巴车(6：00至19：30，15分钟/次)，蓟县客运站下车，转乘盘山出租车直达盘山景区</p>
    <p><span>火车：</span>北京东站到蓟县K7783次8:35-9:34或K7787次18:45-20:09</p>
    <p><span>盘山景区北京直通车：</span>北京市东城区外斜街45号（原东直门长途客运站现942、975路公交车始发站）早8:30从北京发车，下午16:00从盘山景区返回。</p>
  </div>
  <div class="top_right"></div>
  <div class="top_left"></div>
  <div class="bottom_left"></div>
  <div class="bottom_right"></div>
</div>
