<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>东北方面游客<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain">
  <div class="art" id="contain1">
    <p style="padding-top:8px;"><span>推荐线路：</span>走京沈高速驶向北京方向，至高速公路宝坻北站下桥转至津蓟高速驶向蓟县方向，直达盘山景区高速出口停车场。</p>
    <p><%= image_tag 'map_2.png' %></p>
    <p><span>自驾车A线：</span>沿京哈公路经通州、三河，到蓟县邦均镇沿帮喜公路直行，津蓟高速出口环岛左转上蓟官路直达盘山景区。</p>
  </div>
  <div class="top_right"></div>
  <div class="top_left"></div>
  <div class="bottom_left"></div>
  <div class="bottom_right"></div>
</div>
