<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>问途寻径<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container5"  id="contain">

  <div class="bj"><a href="6-1.html">北京方面游客</a></div>
  <div class="tj"><a href="6-3.html">天津方面游客</a></div>
  <div class="db"><a href="6-2.html">东北方面游客</a></div>
</div>
<ul class="picNav">
  <li><a href="/ggms/index">缘起</a></li>
  <li><a href="/wzsj/index">胜境</a></li>
  <li><a class="on" href="/wtxj/index">问途</a></li>
  <li><a href="/wydy/index">登游</a></li>
</ul>
<script language=javascript>
  function findDimensions() {
    var tabcont=document.getElementById("contain");

    cheight=document.documentElement.clientHeight;

    tabcont.style.height=cheight-160 + 'px';
    tabcont.style.minHeight=cheight-160 + 'px';

  }
  window.onload= function(){findDimensions();}
  window.onresize= function(){findDimensions();}
  function  turnHome(){
    window.location.href="/"
  } 
</script>
