<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>天津方面游客<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain">
  <div class="art" id="contain1">
    <p style="padding-top:8px;"><span>推荐线路：</span>沿津蓟高速，直达盘山景区高速出口停车场。</p>
    <p><%= image_tag 'map_3.png' %></p>
    <p><span>自驾车A线：</span>沿津围公路行驶直达蓟县，在蓟县县城南楼或西关红绿灯处左转，津蓟高速出口环岛西北路口上蓟官路直达盘山景区。</p>
    <p><span>公交客运车：</span>天津市河北客运站乘车(6;00至19;00,15分钟/次）蓟县客运站下车，转乘盘山出租车直达盘山景区。</p>
    <p><span>火      车：</span>天津到蓟县7142次7：36—10：29 蓟县到天津7141次14：54—17：34</p>
    <p><span>盘山景区天津直通车：</span>天津站后广场旅游集散中心，早8:00从天津发车，下午16:00从盘山景区返回。</p></p>
  </div>

  <div class="top_right"></div>
  <div class="top_left"></div>
  <div class="bottom_left"></div>
  <div class="bottom_right"></div>
</div>
