<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span>牌楼<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'bg311.jpg' %>
    </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
    <p><span>既是牌楼名，又是景名，这是以物命名，以景誉物的景观点。正面金匾上的“亘古名山”四字苍劲有力，又高秀圆润，与牌楼建筑形成了书物合璧的艺术效果。
      <br>这四个字是搬用于清康熙皇帝第一次巡幸盘山时御题的“亘古名山”摩崖题刻，用以彰显牌楼在盘山的地位，同时也突出了盘山在世间的地位。
    </span> </p>
  </div>
</div>