<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 新山门 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'xinshanmen.jpg' %>
      <a href="/wzsj/s3" class="left"><%= image_tag 'rigt.png' %></a>
      <a href="/wzsj/s1" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>新</span><span>山</span><span>门</span></div>
<p><span>由上下三台院组成，面积</span><span>13200平方米，可以</span><span>同时容纳一万人在这里开</span><span>展大型展演活动，故而又</span><span>称这里为文化展演广场。</span><span>每逢盘山有大型的集会、</span><span>大型庆典等活动时，都将</span><span>安排在这里举行。</span></p>  </div>
</div>
