<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 新山门 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'bg321.jpg' %>
    </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
    <p>
      <span>
        由上下三台院组成，面积13200平方米，可以同时容纳一万人在这里开展大型展演活动。所以我们又称这里为文化展演广场。每逢盘山有大型的集会、大型庆典等活动时，我们都安排在这里举行。如2012年召开的盘山开放三十周年大型庆祝活动，一年一度的盘山庙会、盘山山岳登山大赛开幕式，以及渔阳金秋旅游节开幕式等。
      </span>
    </p>
  </div>
</div>