<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 三盘暮雨 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'sanpanmuyu.jpg' %>
      <a href="/wzsj/s4" class="left"><%= image_tag 'left.png' %></a>
      <a href="/wzsj/s2" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>三</span><span>盘</span><span>暮</span><span>雨</span></div>
        <p><span>盘山分为上、中、下三</span><span>盘，“暮雨”是傍晚的云</span><span>气。每当阳春三月，山里</span><span>的桃花、杏花、梨花开的</span><span>漫山遍野，远望上盘犹如</span><span>一堆堆的白雪点缀其间;</span><span>中盘则云雾缭绕，雾雨朦</span><span>朦；下盘却是阳光夕照，</span><span>一碧如洗。</span></p>
  </div>
</div>
