<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 三盘暮雨 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'bg331.jpg' %>
    </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
    <p><span>
      盘山分为上、中、下三盘，即上盘松胜，蟠曲翳天；中盘石胜，千奇百怪；下盘水胜，涓流不息。“暮雨”是傍晚的云气。每当阳春三月，山里的桃花、杏花、梨花开的漫山遍野，远望上盘犹如一堆堆的白雪点缀其间，春风吹过，花瓣随风飘落，好像下雪一样；雨后初晴，中盘则云雾缭绕，雾雨朦朦，似雨不雨，似晴非晴；下盘却是阳光夕照，一碧如洗。
      <br>因此有：“上盘雪花飘，中盘雾雨渺，下盘夕阳照”的天然奇观。
    </span></p>
  </div>
</div>
