<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 入胜 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'shusheng.jpg' %>
      <a href="/wzsj/s5" class="left"><%= image_tag 'rigt.png' %></a>
      <a href="/wzsj/s3" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>入</span><span>胜</span></div>
    <p>入胜两个大字，字劲五尺，遒劲雄健，为清末军机大臣文华殿大学士荣禄手书。意思是由此进入幽深的山谷和隐映在林海中的神秘寺院，也许各位都能从中领悟到一些禅机，在人和自然的融合中得到一种超脱和享受。</p>
  </div>
</div>