<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 入胜 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'bg341.jpg' %>
    </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
    <p><span>
      入胜两个大字，字劲五尺，遒劲雄健，为清末军机大臣文华殿大学士荣禄手书。荣禄一生来盘山多次，遍访盘山的奇峰秀水，留下了上盘摩天、中盘捧日和下盘入胜六个大字。
      <br>入胜出自古诗山色葱茏入胜境，空谷低回溪流声。意思是由此进入幽深的山谷和隐映在林海中的神秘寺院，也许各位都能从中领悟到一些禅机，在人和自然的融合中得到一种超脱和享受。
    </span></p>
  </div>
</div>
