<header>
    <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 漱峡 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
      <p style="padding-top:0px;">
        <%= image_tag 'bg351.jpg' %>
      </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
      <p><span>
        “漱峡”由台湾著名书法家刘炳南老先生题留。<br>说的是盘山水胜，涧水飞泻，恰似洗漱峡谷。
      </span></p>
  </div>
</div>