<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 飞帛涧 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'feijinjian.jpg' %>
      <a href="/wzsj/s7" class="left"><%= image_tag 'left.png' %></a>
      <a href="/wzsj/s5" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>飞</span><span>帛</span><span>涧</span></div>
        <p><span>古佛舍利塔西有“飞帛</span><span>涧”。夏秋时节，涧水从</span><span>翠屏峰飞泻而下，形同飞</span><span>帛，因而得名。有诗赞</span><span>曰：瀑布飞泉峰下注，状</span><span>若缕缕素帛飘。</span></p>
  </div>
</div>
