<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 飞帛涧 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'feijinjian.jpg' %>
      <a href="/wzsj/s7" class="left"><%= image_tag 'left.png' %></a>
      <a href="/wzsj/s5" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>飞</span><span>帛</span><span>涧</span></div>
    <p><span>“飞帛涧”是盘山最知名</span><span>的水景之一，位于古佛舍</span><span>利塔西侧。夏秋时节，涧</span><span>水从翠屏峰飞泻而下，形</span><span>同飞帛，“飞帛涧”因而</span><span>得名。有诗赞曰：瀑布飞</span><span>泉峰下注，状若缕缕素帛</span><span>飘。</span></p>
  </div>
</div>
