<header>
    <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 飞帛涧 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
      <p style="padding-top:0px;">
        <%= image_tag 'bg361.jpg' %>
      </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
      <p><span>
        古佛舍利塔西有“飞帛涧”。<br>夏秋时节，涧水从翠屏峰飞泻而下，形同飞帛，因而得名。
        <br>有诗赞曰：瀑布飞泉峰下注，状若缕缕素帛飘。
      </span></p>
  </div>
</div>