<header>
    <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 云楼梨影 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
      <p style="padding-top:0px;">
        <%= image_tag 'bg371.jpg' %>
      </p>

  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
      <p><span>
        卧云楼，依山傍水而建，楼两层三楹，高脊飞檐，雕梁画栋，气象庄重，为1984年重建。每当夏天雨过初晴，常见一抹云霞，在徐徐微风的吹动下，或隐蔽楼身，或穿楼而过，饶有奇趣，因此得名。卧云楼对面古戏楼是2005年恢复重建的，“云楼梨影”为乾隆皇帝所题。
      <br>“云楼”指的是卧云楼，“  梨”说的是古戏台，“影”形容的是荷花池，戏楼、荷花池与卧云楼遥相辉映，形成“云楼梨影”景观。
      </span></p>
  </div>
</div>