<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 云楼梨影 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'yunlouliying.jpg' %>
      <a href="/wzsj/s8" class="left"><%= image_tag 'left.png' %></a>
      <a href="/wzsj/s6" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sizi"><span>云</span><span>楼</span><span>梨</span><span>影</span></div>
        <p><span>卧云楼，依山傍水而建，</span><span>楼两层三楹，高脊飞檐，</span><span>雕梁画栋，气象庄重，为</span><span>1984年重建。每当夏</span><span>天雨过初晴，常见一抹云</span><span>霞，在徐徐微风的吹动</span><span>下，或隐蔽楼身，或穿楼</span><span>而过，饶有奇趣，因此</span><span>得名。</span></p>
  </div>
</div>
