<header>
    <h4 class="title"><span class="back" onClick="history.back();">上一页</span>挂月峰<span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
      <p style="padding-top:0px;">
        <%= image_tag 'bg381.jpg' %>
      </p>
  </div>
  <div class="art2" id="contain2" style="margin-top:-20px;">
      <p><span>
        挂月峰因月临峰顶，挂峰而悬得名。挂月峰顶矗立着定光佛舍利塔，相传每年除夕，有佛光自通州孤山塔方向飘来，至塔息止，因此称之为定光佛舍利塔。塔旁有一劲松，如苍龙破石而出，枝杈前倾作探崖之势，筋骨迸出，遒劲有力，与塔同龄，朝夕相伴，故此松名伴塔松。
        <br>登临峰顶，清晨，可饱览那喷薄激涌、冉冉东升的旭日；雨霁，可俯瞰那缥渺逸荡 、干变万化的云烟 ；傍晚，可观赏那艳霞满天、层林尽染的胜景。
      </span></p>
  </div>
</div>