<header>
  <h4 class="title"><span class="back" onClick="history.back();">上一页</span> 挂月峰 <span class="home"  onclick="turnHome()">首页</span></h4>
</header>
<div class="container" id="contain" >
  <div class="art1" id="contain1" >
    <p style="padding-top:0px;">
      <%= image_tag 'guayuefeng.jpg' %>
      <a href="/wzsj/s1" class="left"><%= image_tag 'rigt.png' %></a>
      <a href="/wzsj/s7" class="right"><%= image_tag 'rigt.png' %></a>
    </p>
  </div>
  <div class="art3">
    <div class="mingzi sanzi"><span>挂</span><span>月</span><span>峰</span></div>
        <p><span>挂月峰因月临峰顶，挂峰</span><span>而悬得名。挂月峰顶矗立</span><span>着定光佛舍利塔，相传每</span><span>年除夕，有佛光自通州孤</span><span>山塔方向飘来，至塔息</span><span>止，因此称之为定光佛舍</span><span>利塔。塔旁有一劲松，如</span><span>苍龙破石而出，与塔同</span><span>龄，朝夕相伴，故此松名</span><span>伴塔松。</span></p>
  </div>
</div>
