body,div,ul,li{margin: 0;padding: 0}
li{list-style: none;}
html{height: 100%;}
body{background:url(bg3.jpg) no-repeat center bottom;background-size:cover;width: 100%;font-family:  "Microsoft YaHei",微软雅黑;background-attachment: fixed;}
/*头部定义*/
header{width: 100%;height: 45px;line-height: 45px;background: #121617;position: fixed;top: 0;left: 0;z-index: 999;}
header .back{position: absolute;left: 20px;}
header .title{position: relative;width:100%;text-align: center;color: #fff;margin:0px;}
header .home{position:absolute;right: 20px;}
.picNav{width: 100%; margin:0px auto;}
.picNav li{}
.picNav li.on{}
.picNav li a{ font-family: 隶书;text-decoration:none; width:23%;  margin-left:2%; line-height: 60px;  text-align: center; float: left;background-size:auto 100%; background:url(one_btn2.png) no-repeat center; background-size: contain; color: #fff; font-weight: bolder;}
.picNav li a.on{background: url(one_btn1.png) no-repeat center; background-size: contain;}

.container5{width: 90%; margin:160px auto; position:relative;}

.bj,.db,.tj{ width:100%; text-align:center; height:auto; line-height:34px; padding:10px auto; margin:10px auto; background: url(pic1.jpg) no-repeat center bottom;}
.bj a,.db a,.tj a{ color:#F00; font-size:18px; font-family:"隶书"; font-weight:bold; text-decoration:none;}

.container .art{width: 88%; margin: 10px auto; background:#fff;}

.top_right,.top_left,.bottom_left,.bottom_right{position: absolute;width: 42px;height: 42px;}
.top_right{background: url(2.png) no-repeat center; top: 0; right: 0}
.top_left{background: url(1.png) no-repeat center; top: 0; left: 0}
.bottom_right{background: url(4.png) no-repeat center; bottom: 0; right: 0}
.bottom_left{background: url(3.png) no-repeat center; bottom: 0; left: 0}
.container p{width: 100%;color:#ab8821;line-height: 26px;font-family: 1.5em;}
.container p img{width:80%;margin: 5px auto;display: block;}