<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,height=device-height,user-scalable=no"/>
<title>天津盘山风景名胜区</title>
<%= stylesheet_link_tag 'css', media: 'all' %>
</head>
<body>
  <%= yield %>
  <%= render 'pic_nav_wtxj' %>
  <script language=javascript>
    function findDimensions() {
      var tabcont=document.getElementById("contain");
      var tabcont1=document.getElementById("contain1");
      cheight=document.documentElement.clientHeight;

      tabcont1.style.height=cheight-145 + 'px';
      tabcont1.style.minHeight=cheight-145 + 'px';

    }
    window.onload= function(){findDimensions();}
    window.onresize= function(){findDimensions();}
    function  turnHome(){
      window.location.href="/"
    }
  </script>
  <%= render 'analytics' %>
</body>
</html>
